<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--平台，WP、Android、IOS-->
    <!--<add key="Platform" value="Android"/>-->
    <!--<add key="UserType" value="User"/>-->
    <!--<add key="UserType" value="Manager"/>-->
    <add key="UserType" value="Packager"/>
    <!--<add key="UserType" value="Unity"/>-->
    <!--<add key="UserType" value="ScreenShotter"/>-->
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
